In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import glob as glob

In [7]:
# Load data
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

In [10]:
df_train.shape

(4659076, 6)

In [8]:
df_train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [12]:
df_test.shape

(2505190, 5)

In [9]:
df_test.head()

        id     molecule_name  atom_index_0  atom_index_1  type
0  4659076  dsgdb9nsd_000004             2             0  2JHC
1  4659077  dsgdb9nsd_000004             2             1  1JHC
2  4659078  dsgdb9nsd_000004             2             3  3JHH
3  4659079  dsgdb9nsd_000004             3             0  1JHC
4  4659080  dsgdb9nsd_000004             3             1  2JHC

In [15]:
files = glob.glob('data/*.csv')
files

['data\\dipole_moments.csv',
 'data\\magnetic_shielding_tensors.csv',
 'data\\mulliken_charges.csv',
 'data\\potential_energy.csv',
 'data\\sample_submission.csv',
 'data\\scalar_coupling_contributions.csv',
 'data\\structures.csv',
 'data\\test.csv',
 'data\\train.csv']

In [16]:
df_dipole = pd.read_csv('data/dipole_moments.csv')
df_tensor = pd.read_csv('data/magnetic_shielding_tensors.csv')
df_charges = pd.read_csv('data/mulliken_charges.csv')
df_energy = pd.read_csv('data/potential_energy.csv')
df_scalar = pd.read_csv('data/scalar_coupling_contributions.csv')
df_structure = pd.read_csv('data/structures.csv')

In [17]:
df_dipole.head()

      molecule_name       X    Y       Z
0  dsgdb9nsd_000001  0.0000  0.0  0.0000
1  dsgdb9nsd_000002 -0.0002  0.0  1.6256
2  dsgdb9nsd_000003  0.0000  0.0 -1.8511
3  dsgdb9nsd_000004  0.0000  0.0  0.0000
4  dsgdb9nsd_000005  0.0000  0.0 -2.8937

In [18]:
df_tensor.head()

,molecule_name,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ
0,dsgdb9nsd_000001,0,195.3147,0.0000,-0.0001,0.0000,195.3171,0.0007,-0.0001,0.0007,195.3169
1,dsgdb9nsd_000001,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
2,dsgdb9nsd_000001,2,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967
3,dsgdb9nsd_000001,3,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
4,dsgdb9nsd_000001,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013

In [19]:
df_energy.head()

      molecule_name  potential_energy
0  dsgdb9nsd_000001        -40.523680
1  dsgdb9nsd_000002        -56.560246
2  dsgdb9nsd_000003        -76.426077
3  dsgdb9nsd_000004        -77.335268
4  dsgdb9nsd_000005        -93.428488